accelerate
httpx
ipykernel
ipython
iterative-stratification
jupyterlab
librosa
matplotlib
networkx
numpy
openai
pandas
qwen-omni-utils[decord]
scikit-learn
scipy
seaborn
sentencepiece
soundfile
torch
torchaudio
tqdm
transformers
umap-learn
